<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Smile\ElasticsuiteCore\Client\Client">
        <plugin name="smile-elasticsuite-core-client-plugin" type="Elgentos\SmileDebugToolbarElasticsuite\Plugin\ElasticsuitePlugin" sortOrder="1" disabled="false"/>
    </type>

    <type name="Smile\DebugToolbar\Observer\AddZones">
        <arguments>
            <argument name="blockFactories" xsi:type="array">
                <item name="search" xsi:type="object" sortOrder="100">Elgentos\SmileDebugToolbarElasticsuite\Block\Zone\SearchFactory</item>
            </argument>
        </arguments>
    </type>
</config>
